body {
  background: #6AE5CE;
  font-family: helvetica, arial, sans-serif;
}

header {
  height: 200px;
}


h1 {
  font: black 3rem;
}

h2 {
  font: bold black 2.1875rem;  /*  35px/16 */
}

/* .sample-kit-title {
  text-transform: capitalize; */
}

h3 {
  font: black
}

/* .sample-title {
  text-transform: capitalize; */
}
.sample-time{
  text-transform: capitalize;
  text-decoration: none;
}

h4 {
  font-size: .835625em;
  text-transform: capitalize;
}

p {
  font: 1rem;
}

.primary-content {
  width: 60%;
  max-width: 800px;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

#sample-kit{
  margin: 50px 0 50px;
  align: center;
  text-transform: capitalize;
}

.sample {
  width: auto;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 5px 5px 6 13%;
  margin-top: 25px;
  padding: 0px;
  display: inline-block;
}

#sample-time {
  padding: 20px;
}
